


.container {
    display: inline-block;
    flex-wrap: wrap;
    width: 100%;
    background-color: #1f2937;  
    margin: -2px;
}
.container1 {
    display: inline-block;
    flex-wrap: wrap;
    width: 100%;
    background-color: #1f2937;  
    margin: -2px;
}

.one {
    font-size: 16px;
    padding: 6px;
}

.two {
    float: right;
    padding: 6px;
}

.three {
    float: right;
    padding: 6px;
}
.four {
    float:right;
    padding: 6px;
}

button {
    color: rgb(244, 244, 248);
    background-color: rgb(29, 98, 202);
 }

.image img {
    float: right;
    max-width: 35%;
    padding: 25px;
}

.signup {
    padding: 10px;
}


.columns {
   columns: 4;
   align-self:center;
   padding: 65px;
}

.image2 img {
    max-width: 50px;  
}

header {
    text-align: start;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 18px;
}

.text {
    font-size: 48px;
    font-weight: extra-bold;
    
}
h1 {
    color: #f9faf8;
}
h2 {
    font-size: 18px;
    color: #e5e7eb;
}

.texth2 {
    font-size: 16px;
}
body {
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h3 {
    text-align: center;
}
figcaption {
    font-size: 15px;
}

.quote {
    background-color: #e5e7eb;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    padding: 90px
}

.action {
    font-size: 18px;
    background-color: #3882f6;
    padding: 20px;
    margin: 4em;   
}

p {
    font-size: 18px;
    color: #e5e7eb;
    text-align:center;
}


.footer {
    background-color: #1d2735;
    padding: 40px;
    font-size: 14px;
    text-align: center;
    color: #e5e7eb;
}

html{
    background-color: white;
}