


.container0 {
    display: inline-block;
    flex-wrap: wrap;
    width: 100%;
    background-color: #1f2937;
}

.container {
    display: inline-block;
    flex-wrap: wrap;
    width: 100%;
    background-color: #1f2937;  
}


.one {
    font-size: 16px;
    float: left;
    padding: 6px;
}

.two {
    float: right;
    padding: 6px;
}

.three {
    float: right;
    padding: 6px;
}
button {
    color: rgb(244, 244, 248);
    background-color: rgb(29, 98, 202);
 }

.image img {
    float: right;
    max-width: 40%;
    padding: 20px;
}


.columns {
   columns: 4;
}

.image2 img {
    max-width: 40px;
    align-items:flex-end;
}

header {
    text-align: start;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 18px;
}

.text {
    font-size: 20px;
}
h1 {
    color: red;
}
h2 {
    color: blue;
}

.texth2 {
    font-size: 16px;
}
body {
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h3 {
    text-align: center;
}
figcaption {
    font-size: 15px;
}



.footer {
    background-color: #1f2937;
    padding: 20px;
    font-size: 10px;
}

html{
    background-color: rgb(219, 243, 170)
}